@import '~ant-design-vue/lib/style/themes/default.less';
@import '../index';

@multi-tab-prefix-cls: ~"@{ant-pro-prefix}-multi-tab";
@multi-tab-wrapper-prefix-cls: ~"@{ant-pro-prefix}-multi-tab-wrapper";

/*
.topmenu .@{multi-tab-prefix-cls} {
  max-width: 1200px;
  margin: -23px auto 24px auto;
}
*/
.@{multi-tab-prefix-cls} {
  position: fixed;
  top: @layout-header-height;
  z-index: 3;
  width: calc(100% - 256px);
  margin: 0 -20px;
  background: #fff;

  .ant-tabs-bar {
    border-bottom: 0;
  }

  .ant-tabs.ant-tabs-card {
    .ant-tabs-card-bar {
      .ant-tabs-tab {
        max-width: 180px;
        height: 39px;
        padding: 0 15px;
        border: 0;
        border-radius: 0;

        > div {
          height: 39px;
        }

        &.ant-tabs-tab-active {
          background-color: #f0f2f5;
        }

        .ant-tabs-tab-unclosable {
          .ant-dropdown-trigger {
            padding-right: 0;
          }
        }

        .ant-dropdown-trigger {
          user-select: none;
          display: inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          padding-right: 18px;
        }

        .ant-tabs-close-x {
          position: absolute;
          top: 13px;
          right: 15px;
        }
      }
    }
  }
}

.topmenu {
  .@{multi-tab-prefix-cls} {
    width: 1200px;
    margin: 0;
  }
  .@{multi-tab-wrapper-prefix-cls} {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.topmenu.content-width-Fluid .@{multi-tab-wrapper-prefix-cls} {
  max-width: 100%;
  margin: 0 auto;
}

