@import '~ant-design-vue/es/style/themes/default.less';

html,
body,
#app, #root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout.layout-basic {
  height: 100vh;
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}

// 数据列表 操作
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}

// 数据列表 搜索条件
.table-page-search-wrapper {
  margin-bottom: 20px;

  .ant-card {
    .ant-card-body {
      padding-bottom: 0;
    }
  }

  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-bottom: 24px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }

      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

.card-table {
  .ant-card-body {
    padding: 0;
  }

  .table-list-toolbar {
    overflow-x: auto;
    overflow-y: hidden;

    .table-list-toolbar-container {
      display: flex;
      justify-content: space-between;
      height: 64px;
      padding: 0 24px;
      line-height: 64px;

      .table-list-toolbar-left {
        display: flex;
        justify-content: flex-start;

        .table-list-toolbar-title {
          color: rgba(0, 0, 0, .85);
          font-size: 16px;
          font-weight: 500;
        }
      }

      .table-list-toolbar-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .toolbar-item {
          border: 0;
          box-shadow: none;
        }
      }
    }
  }

  .table-alert {
    margin-bottom: 16px;
    padding: 0 24px;
  }
}

.input-btn-group {
  text-align: center;

  .ant-btn {
    margin-right: 5px;
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}
